#!/bin/bash
export APP_USERNAME=''
export APP_PASSWORD=''
export TENANT=''

export subscriptionA= # Subscription for VNet
export subscriptionB= # Subscription for Service Endpoint tests
export subscriptions=( ${subscriptionA} ${subscriptionB} )

export publicSSH='' # public SSH key from local host; used for testing
